<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- +++ INÍCIO DAS CORREÇÕES +++ -->

    <!-- 1. Permissão para acessar a internet (API) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 2. Permissão para acessar o estado da rede -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TreeInspectorAndroid"

        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

    <!--
      MainActivity é a tela de "Entrada" (Launcher)
      Ela agora é a nossa tela de Login.
    -->
    <activity
        android:name=".MainActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- +++ INÍCIO DAS CORREÇÕES +++ -->

    <!--
      4. DECLARE TODAS AS OUTRAS ACTIVITIES
      O app estava falhando porque estas linhas não existiam.
    -->
    <activity
        android:name=".RoutesActivity"
        android:exported="false" />

    <activity
        android:name=".DemandaListActivity"
        android:exported="false" />

    <activity
        android:name=".RotaDetalheActivity"
        android:exported="false" />

    <activity
        android:name=".DemandaDetalheActivity"
        android:exported="false" />

        <activity
            android:name=".VistoriaActivity"
            android:label="Realizar Vistoria"
            android:parentActivityName=".DemandaDetalheActivity" />


    <!-- +++ FIM DAS CORREÇÕES +++ -->

</application>

</manifest>